{
    "extends": "airbnb",
    "env": {
        "browser": true,
    },
    "plugins": [
      "react"
    ],
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "forOf": true,
        "jsx": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": 0,
        "indent": [2, "tab", {"SwitchCase": 1}],
        "react/prop-types": 1,
        "react/jsx-indent-props": [2, "tab"],
    },
    "globals": {
        /* MOCHA */
        "after"      : false,
        "afterEach"  : false,
        "before"     : false,
        "beforeEach" : false,
        "describe"   : false,
        "it"         : false
    }
}
